<!-- <link href="./../../AppData/Roaming/npm/node_modules/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet"> -->


<!-- <h1>
<i class="glyphicon"
[class.glyphicon-star-empty]="true"
[class.glyphicon-star-empty]="false"
>
</i> </h1> -->

<span class="oi oi-thumb-up" title="icon name" aria-hidden="true"></span>

<h1>
  <i class="glyphicon"
  [class.glyphicon-star-empty]="!meuFavorito"
  [class.glyphicon-star]="meuFavorito"
   (click)="onClick()">
</i>
</h1>

<h1>

  <i class="glyphicon"
[ngClass]="{
  'glyphicon-star-empty' :!meuFavorito,
  'glyphicon-star' : meuFavorito}"
    (click)="onClick()">
  </i>
  </h1>

